
ANCIEN/0_premiers_tests_benchmark_kNN.ipynb
ANCIEN/1_explore_donnees.ipynb
ANCIEN/2_premiers_essais_B.ipynb
ANCIEN/2_premiers_essais_C.ipynb
ANCIEN/2_premiers_essais_D_inv_test_valid.ipynb
ANCIEN/benchmark_kNN.ipynb
ANCIEN/surge_prediction_metric.py
Rapport_Exo3.docx
JOUSSELIN_Projet_Exo3_DC.zip
JOUSSELIN_Projet_Exo3_DC/DataChallenge_Cas_part_reseau_neurones.ipynb
JOUSSELIN_Projet_Exo3_DC/DataChallenge_etude.ipynb
JOUSSELIN_Projet_Exo3_DC/images/superpositions.png
JOUSSELIN_Projet_Exo3_DC/images/tests/ligne_0.png
JOUSSELIN_Projet_Exo3_DC/images/tests/ligne_0_k_27.png
JOUSSELIN_Projet_Exo3_DC/images/tests/ligne_0_k_28.png
JOUSSELIN_Projet_Exo3_DC/images/tests/ligne_0_k_29.png
JOUSSELIN_Projet_Exo3_DC/images/tests/ligne_0_k_30.png
JOUSSELIN_Projet_Exo3_DC/images/tests/ligne_0_k_31.png
JOUSSELIN_Projet_Exo3_DC/images/tests/ligne_0_k_32.png
JOUSSELIN_Projet_Exo3_DC/images/tests/ligne_0_k_33.png
JOUSSELIN_Projet_Exo3_DC/images/tests/ligne_0_k_34.png
JOUSSELIN_Projet_Exo3_DC/images/tests/ligne_0_k_35.png
JOUSSELIN_Projet_Exo3_DC/images/tests/ligne_0_k_36.png
JOUSSELIN_Projet_Exo3_DC/images/tests/ligne_0_k_37.png
JOUSSELIN_Projet_Exo3_DC/images/tests/ligne_0_k_38.png
JOUSSELIN_Projet_Exo3_DC/images/tests/ligne_0_k_39.png
JOUSSELIN_Projet_Exo3_DC/Rapport_Exo3.pdf
