
ANCIEN/0_premiers_tests_benchmark_kNN.ipynb
ANCIEN/1_explore_donnees.ipynb
ANCIEN/2_premiers_essais_B.ipynb
ANCIEN/2_premiers_essais_C.ipynb
ANCIEN/2_premiers_essais_D_inv_test_valid.ipynb
ANCIEN/benchmark_kNN.ipynb
ANCIEN/surge_prediction_metric.py
Rapport_Exo3.docx
